:root {
  --gunmetal: #282c34;
  --gainsboro: #e0e0e2;
  --middleBlueGreen: #81d2c7;
  --lightPeriwinkle: #b5bad0;
  --shadowBlue: #7389ae;
  --fuzzyWuzzy: #c1666b;
  --lightSeaGreen: #00a9a5;
}

.app {
  margin: 0px auto;
  background-color: #e0e0e2;
  text-align: center;
}

/* mobile only */
@media (max-width: 600px) {
  .app {
    height: 100%;
  }
}

/* desktop */
@media (min-width: 600px) {
  .app {
    min-height: 100vh;
    height: 100%;
  }
}
