.home {
  margin: 0 auto;
  display: grid;
  justify-items: center;
  /* font-variant: small-caps; */
  background-color: white;

  font-family: "Dosis";
}

.about {
  /* display: grid; */
  /* align-items: end; */
  /* justify-items: center; */

  background-image: linear-gradient(
      to right,
      rgba(20, 63, 56, 0.9),
      rgba(59, 21, 45, 0.9)
    ),
    url("../assets/computerBackground.jpg");
  background-size: cover;
  background-position: bottom;
  width: 100%;
}

.about__content {
  padding: 10px;
  color: white;
}

.details {
  padding: 10px;
  width: 100%;
}

.details a {
  color: var(--gunmetal);
  text-decoration: none;
  transition: 500ms;
}

.details a:hover {
  background-color: var(--gainsboro);
  transition: 500ms;
}

.details__article {
  display: grid;
  justify-items: center;

  padding: 20px;
}

.details__icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border-width: 5px;
  border-style: solid;
  background-color: white;
  font-size: 2.5em;
  padding: 10px;
}

.details__icon.new {
  border-color: var(--middleBlueGreen);
  color: var(--middleBlueGreen);
}

.details__icon.first {
  border-color: var(--fuzzyWuzzy);
  color: var(--fuzzyWuzzy);
}

.details__icon.second {
  border-color: var(--shadowBlue);
  color: var(--shadowBlue);
}

.details__icon.third {
  border-color: var(--lightSeaGreen);
  color: var(--lightSeaGreen);
}

.contact {
}

.contact__header {
}

.contact__content {
}

/* mobile only */
@media (max-width: 600px) {
  .about__content {
    margin: 20px 30px;
  }

  .details__article {
    margin: 20px;
    display: grid;
    grid-template-columns: 100px auto;
  }

  .details__icon {
    grid-column: 1;
    grid-row: 1;
  }

  .details__title {
    grid-column: 2;
    grid-row: 1;
  }

  .details__text {
    grid-column: 1 / 3;
    grid-row: 2;
  }
}

/* desktop */
@media (min-width: 600px) {
  .about {
    min-height: 700px;
    align-content: center;
  }

  .about__icon {
    font-size: 60px;
    padding-bottom: 30px;
  }

  .about__content {
    margin: 50px auto;
    max-width: 800px;
  }

  .about__title {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
  }

  .about__text {
    font-size: 35px;
  }

  .details__header {
    text-align: center;
  }

  .details__content {
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }

  .details__containers {
    min-height: 200px;
  }
}
