/* all formats */
.navigation-menu {
  height: 100vh;
  width: 100%;
  background-color: #282c34;

  position: fixed;
  top: 0;
  left: -100%;
  transition: 350ms;
}

.navigation-menu.active {
  left: 0;
  transition: 350ms;
}

.navigation-menu__header {
  display: grid;
  justify-content: end;
}

.navigation-menu__profile {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  justify-items: center;

  margin: 10px 30px;

  color: white;
}

.navigation-menu__profile--icon {
  font-size: 3em;
}

.navigation-menu__profile--text {
  font-size: 25px;
  font-variant: small-caps;
}

.navigation-menu__options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.navigation-menu__options li {
  list-style-type: none;
  width: 100%;
  padding: 15px;
}

.navigation-menu__options li a {
  font-size: 25px;

  text-decoration: none;
  cursor: pointer;

  font-variant: small-caps;
  color: white;
}

.button__navClose {
  padding: 10px;
  margin: 10px;
  border: none;

  color: white;
  background-color: #282c34;

  font-weight: bold;
  font-variant: small-caps;
  font-size: 1.5em;

  cursor: pointer;
}

/* mobile only */
@media (max-width: 600px) {
}

/* desktop */
@media (min-width: 600px) {
  .navigation-menu {
    display: none;
  }
}
